#header-sign {
  height: 200px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.header-text {
  text-align: center;
}

.jumbotron-book {
  overflow: hidden;
  height: 350px;
  padding-top: 0;
  position: relative;
}

.btn-Delete {
  position: absolute;
  top: 0px;
  right: 0px;
}
